
@model HiltonFilmCollection2.Models.FilmItem

@*Displays confirmation screen after a movie is added*@
<h3>@Model.Title was submitted. Thank you.</h3>
<br />
<div>
    Click <a asp-action="FilmCollection">here</a> to see the film collection.
</div>