@{
    ViewBag.Title = "My Podcasts";
}

@*This page has a link to Joel's podcast*@
<div class="text-center">
    <a href="https://baconsale.com/" class="button btn btn-primary justify-content-center">Baconsale -- A Hickory-Smoked Pop Culture Podcast</a>
</div>
