@model HiltonFilmCollection2.Models.FilmItem

@*Displays confirmation screen after a movie is updated*@
<h3>@Model.Title was updated. Thank you.</h3>
<br />
<div>
    Click <a asp-action="FilmCollection">here</a> to return to the film collection.
</div>